---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
	country: "China",
	occupation: "Software Engineer",
	hobbies: ["Gaming", "Movies", "Stargazing🔭"],
};

const skills = ["Vue.js", "Nuxt.js", "React.js", "Astro", "HTML/CSS/JavaScript", "Python", "GoLang"];
---
<style lang="scss">
	.chaos-about{
		grid-column: 1 / 25;
		padding-top: 36px;
	}
</style>

<BaseLayout pageTitle={'About Me'}>
	<div class="chaos-about">
		<h2>Hi there! I'm Beiduo.👾</h2>

		<p>Here are a few facts about me:</p>
		<ul>
			<li>I live in {identity.country} and work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 &&
				<li>My hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}  and {identity.hobbies[2]}.</li>
			}
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li>{skill}</li>)}
		</ul>
	</div>
</BaseLayout>

